<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="">Nombre</label>
        <input class="form-control" type="text" name="" formControlName="nombre" id="">
        <div>
            <p>Valid : {{formulario.controls.nombre.valid}}</p>
        </div>
    </div>
    <div class="form-group">
        <label for="">Apellidos</label>
        <input class="form-control" type="text" name="apellidos" formControlName="apellidos" id="" >
    </div>
    <div class="form-group">
        <label for="">Edad</label>
        <input class="form-control" type="number" name="edad" id="" formControlName="edad" >
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input class="form-control" type="email" name="Email" formControlName="email" id="" >
    </div>
    <div class="form-group">
        <label for="">dni</label>
        <input class="form-control" type="text" name="dni" formControlName="dni" id="" >
    </div>
    <div class="form-group">
        <label for="">password</label>
        <input class="form-control" type="password" name="password" formControlName="password" id="" >
    </div>
    <div class="form-group">
        <label for="">re-password</label>
        <input class="form-control" type="password" name="repite_password" formControlName="repite_password" id="" >
    </div>
    <input type="submit" value="Enviar" class="btn btn-block btn-primary" [disabled]="!formulario.valid">
</form>

<div>
    <p>valido: {{formulario.valid}}</p>
    <p>Dirty: {{formulario.dirty}}</p>
    <p>Untouched: {{formulario.untouched}}</p>
</div>