<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">InnPath </div>
  <div class="list-group list-group-flush">
    <a [routerLink]="[ '/dashboard']" class="list-group-item list-group-item-action bg-light">Dashboard</a>
    <a [routerLink]="[ '/invoices']" class="list-group-item list-group-item-action bg-light">Invoices</a>
    <a [routerLink]="[ '/invoices-ose']" class="list-group-item list-group-item-action bg-light">Invoices OSE</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Bajas</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Resumen Bajas</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
  </div>
</div>