<div>
  <h1 class="mt-4">Invoices</h1>
  <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger
    screens. When toggled using the button below, the menu will change.</p>
  <!-- <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and
    just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when
    clicked.</p> -->
  <div class="row">
    <!-- <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
    </div> -->
    <router-outlet></router-outlet>

    <div class="col text-right">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Options</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
          <button ngbDropdownItem [routerLink]="['/invoices','invoice']"> Create Invoice</button>
          <button ngbDropdownItem>Create Credit Note</button>
          <button ngbDropdownItem>Create Debit Note</button>
          <button ngbDropdownItem>Create Retention</button>
          <button ngbDropdownItem>Create Perception</button>
          <button ngbDropdownItem>Create Dispatch Advice</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Document Type</th>
        <th>Document Id</th>
        <th>Ruc</th>
        <th>Razon Social</th>
        <th>Fecha</th>
        <th>Status</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of arrInvoice ">
        <td>{{item.documentType}}</td>
        <td>{{item.documentId}}</td>
        <td>{{item.customerAssignedAccountId}}</td>
        <td>{{item.customerRegistrationName}}</td>
        <td>{{item.issueDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{item.status}}</td>
        <td class="overflow-hidden">
          <div ngbDropdown container="body">
            <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Actions</button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem>Edit</button>
              <button ngbDropdownItem>Duplicate</button>
              <button ngbDropdownItem>Move</button>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem>Delete</button>
            </div>
          </div>
          <!-- <small class="text-muted">Dropdown uses container "body"</small> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalCount" [maxSize]="5" (pageChange)="pageChange(0)" class="d-flex justify-content-end" [boundaryLinks]="true"></ngb-pagination>